<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <style>
        body {
            margin: 10px;
            padding: 20px;
            color: rgb(247, 236, 236);
            background-color: #112d49;
        }
        .my_font {
            font-size: 22px;
            color: #5590cc;
        }

        .my_link {
            font-size: 22px;
            color: #7c9f24;
        }
    </style>
</head>
<body>
    <h1>Главная страница</h1>
    <p class="my_font">Вы попали на учебную страницу, посвященную разработке Веб-приложения с применением машинного обучения</p>
    <a class="my_link" href='/example'>Страница приветствия ...</a>
</body>
</html>




